*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classi specifiche */

/* header */
header{
    background-color: #ff6900;
    height: 50px;
    color: white;
}
/* main */
main div.container{
    background-color: aquamarine;
    margin: 0 auto;
    height: 1000px;
}
/* footer */

/* classi generiche */
.flex-ja-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-center{
    display: flex;
    justify-content: center;
}
.flex-a-center{
    display: flex;
    align-items: center;
}
.flex-j-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 70%;
}
/* header */
header ul{
    list-style-type: none;
}
/* main */
.item{
    width: calc(100% / 3);
    height: 400px;
    background-color: lightsalmon;
}
/* footer */