*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 0.80rem;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}
/* classi generiche */
.flex-ja-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-center{
    display: flex;
    justify-content: center;
}
.flex-a-center{
    display: flex;
    align-items: center;
}
.flex-j-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 70%;
}
li{
    padding-right: 0.5rem;
}
/* header */
header ul{
    list-style-type: none;
}
/* main */


/* footer */



/* classi specifiche */

/* HEADER */
header{
    background-color: #ff6900;
    padding: 1rem 0.5rem;
    color: white;
}
#brand{
    height: 20px;
}
/* MAIN */
main div.container{
    background-color: aquamarine;
    margin: 0 auto;
}
.item{
    width: calc((100% / 3) - 1rem);
    margin: 0.5rem;
    background-color: lightsalmon;
    position: relative;
}
main h4{
    text-transform:uppercase ;
}
.price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}
.sale-stickers{
    position: absolute;
    bottom: 90px;
}
.sale-stickers span{
    display: inline-block;
    padding: 0.15rem;
    background-color: red;
    color: white;
}
.sale-stickers span.sustainable{
    background-color: #088000;
}
section.item > img{
    width: 100%;
}
/* footer */
footer{
    background-color: #1a1a1a;
    color: white;
}
footer > .container{
    padding: 1rem 0.5rem;
}
/* classi generiche */
.flex-ja-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-j-center{
    display: flex;
    justify-content: center;
}
.flex-a-center{
    display: flex;
    align-items: center;
}
.flex-j-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 70%;
}
ul{
    list-style-type: none;
}


/* FOOTER */
/* main */


/* footer */